/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply h-full;
    margin: 0;
    padding: 0;
}

#root {
    @apply h-full; /* Đảm bảo #root chiếm chiều cao đầy đủ */
}


.item-sidebar {
  @apply flex flex-row cursor-pointer gap-4 transition-all duration-300 rounded-md;
}

.sideBarItemText {
  @apply font-semibold text-gray-600 text-sm cursor-pointer
}
.sideBarItemTextAct {
  @apply font-semibold text-green-500 text-sm cursor-pointer
}

.sideBarItemText:hover {
  @apply font-semibold text-green-500
}


.item-sidebar:hover {
  @apply text-green-500 cursor-pointer; /* Thay đổi nền và con trỏ khi hover */
}

.itemDropDown-Profile {
  @apply w-full h-10 text-lg py-6 cursor-pointer transition-colors duration-200 ease-in-out hover:bg-green-300;
}

.text-global {
  @apply text-[15px] text-gray-800
}
.text-global-green {
  @apply text-[15px] text-green-400
}
.text-global-size {
  @apply text-[15px]
}


/* Đối với Chrome, Safari và Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Ẩn thanh trượt trên Chrome, Safari và Edge */
}

/* Đối với Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Ẩn thanh trượt trên Firefox */
  -ms-overflow-style: none; /* Ẩn thanh trượt trên IE 10+ */
}